@import 'ember-paper';
@import 'over500';
@import 'over700';

body {
  /*background-color: gray;*/
  padding-bottom: 70px;
}
button{
  background-color:white;
  border:none;
}
.container {
width: 100%;
display: flex;
flex-wrap: wrap;
}

.paper-right {
  margin-left: auto;
}


.message-bar {
  height: 70px;
  padding-top: 13px;
}

.label-user {
  font-size: 100%;
  font-weight: normal;
}

.nav-links {
  padding: 10px;
}

.nav-links a.active {
  text-decoration: underline;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.full-width {
  width: 100%;
}
.comment-input{
  margin-left:2.5%;
  border: none;
  width:91.5%;
}


@media screen and (max-width: 400px) {
  .content {
    width:100%;
    font-size: 16px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-bottom: 2%;
    order: 1;
  }
  .votes {
    order: 5;
    margin-left: 2.5%;
    width: 100%;
  }
  .comments {
    margin-left: 2.5%;
    order: 4;
    width: 60%;
    font-weight: bold;
    font-size: 13px;
    margin-right: 5%;
  }
  .comment-input {
    display: none;
  }

  .up-button {
    order: 2;
    width: 10%;
  }

  .down-button {
    order: 3;
    width: 10%;
  }

  .report {
    order: 5;
    width: 10%;

    text-align: right;
  }

  .container {
    padding: 0%;
    margin: 0px;
  }

  .report-text {
    display: none;
  }
  .material-icons {
    font-size: 8px;
  }
  .comment-text {
    display: none;
  }
}
