@import 'ember-paper';

.paper-right {
  margin-left: auto;
}
body {
  padding-bottom: 70px;
  background-color: #F8F8FF;
}

.message-bar {
  height: 70px;
  padding-top: 13px;
}

.alert-chat {
  padding: 5px;
}

.label-user {
  font-size: 100%;
  font-weight: normal;
}

.nav-links {
  padding: 10px;
}

.nav-links a.active {
  text-decoration: underline;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}
.post {
  margin-top: 15px;
  margin-left: 10px;
}
.main-content {
  background-color: white;
  height: 100%;
}
