 /*}*/
$primary: 'red';

@import 'ember-paper';
@import 'max400';
@import 'over500';
@import 'over700';
@import 'post-icons';

div.circle{
  border-radius: 15px;
  height: 30px;
  width: 30px;
  padding-top: 10px;
  border: 1px solid grey;
  display: inline-block;
}
div.input-main {
  display: inline-block;
  height: 40px;
  padding-left: 2%;
  margin-bottom: 5%;
  padding-bottom: 5%;
  border: 1px solid grey;
}
.post-date {
  font-size: 12px;
}
body {
  /*background-color: #ededd1;*/
  padding-bottom: 70px;
}
button{
  background-color:white;
  border:none;
}
.input-box{
  border: 1px solid grey;
  border-radius: 5px;
  padding: 2.5%;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.paper-right {
  margin-left: auto;
}

.message-bar {
  height: 70px;
  padding-top: 13px;
}

.label-user {
  font-size: 100%;
  font-weight: normal;
}

.nav-links {
  padding: 10px;
}

.nav-links a.active {
  text-decoration: underline;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.full-width {
  width: 100%;
}
.comment-input{
  margin-left:2.5%;
  border: none;
  width:91.5%;
}
