@media screen and (max-width: 500px){
  div.circle{
    border-radius: 15px;
    height: 30px;
    width: 30px;
    border: 1px solid grey;
    display: inline-block;
  }
  div.input-main {
    display: inline-block;
    height: 20px;
    padding-left: 2%;
    margin-bottom: 5%;
    padding-bottom: 5%;
    border: 1px solid grey;
  }


  .post-container {
    width: 100%;

  }
  hr.post {
    width: 100%;

  }
  .profile-header{
      width: 100%;
      font-size: 16px;
      font-weight: bold;
  }
  .content {
    width: 100%;
    font-size: 14px;
    line-height: 125%;
    order: 1;
    padding-bottom: 3%;
    /*background-color: green;
    border: 1px solid black;*/
  }
  .votes {
    /*height: 55px;
    border: 1px solid black;
    height: inherit;
    padding-top: 31px;
    text-align: center;
    font-size: 24px;
    */
    order: 2;
    width: 15%;
    max-width: 15%;
    padding-left: 2.5%;
    /*background-color: blue;*/
  }

  .up-button {
    order: 3;
    width: 10%;
    /*background-color: orange; */
  }
  .down-button {
    order: 4;
    width: 10%;
    height: 100%;
    vertical-align: bottom;
    text-align: right;
    /*background-color: yellow;*/
  }
  .comments {
    /*border: 1px solid black;
    background-color: grey;*/
    padding-left: 7.5%;
    width: 15%;
    order: 5;
  }
  .follow {
    width: 50%;
    order: 6;
    text-align: right;
    font-size: 10px;
    padding-right: 6.25%;
    color: cornflowerblue;
  }
  .post-age {
    padding-left: 0.5%;
    width: 100%;
    order: 7;
  }
  /*
  .report {
    order: 6;
    width: 20%;
    text-align: right;
  }
  .report-icon {
    display: none;
  }*/
}
