{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#if session.isAuthenticated}}
      {{#link-to "posts" }}{{#paper-button}}Posts{{/paper-button}}{{/link-to}}
    {{/if}}
    <div class="paper-right">

      {{#if session.isAuthenticated}}
        {{#link-to "profile" }}{{paper-icon 'person'}}{{/link-to}}
        {{#paper-button onClick=(action "logout")}}Logout{{/paper-button}}
      {{else}}
        {{#link-to "register" }}{{#paper-button}}Register{{/paper-button}}{{/link-to}}
        {{#link-to "login" }}{{#paper-button raised=true}}Login{{/paper-button}}{{/link-to}}
      {{/if}}
    </div>
  </div>
{{/paper-toolbar}}

{{outlet}}
