<div class="container" style="width:750px;">

<div style="" class="">
	<div class="input-box" style="">
		{{paper-input class="" maxlength=256 label="Name" value=post onChange=(action (mut post))}}
		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		<button {{action "addPost"}}>Add post<span class="glyphicon glyphicon-arrow-up"></span></button>
	</div>

	<div class="sort">
		{{#paper-button onClick=(action "sortVotes")}}Most Popular{{/paper-button}}
  	{{#paper-button noink=true onClick=(action "sortDate") primary=true}}Most Recent{{/paper-button}}
</div>
	{{#each sortedPosts as |post index|}}

	{{post-block post=post}}
	{{#if isTrue "tst"}}
	isTrue{{postvotes}}
	{{/if}}
	<!-- green == content, yellow = votes -->



	{{/each}}
</div>
</div>
