<style>
  .tabs{
    width:30%;
    height:400px;
    border: 1px solid grey;
  }
  .details{
    width: 70%;
    height: 400px;
    border: 1px solid grey;
  }
</style>


<div class="container">
  <div class="profile-header">Your Profile</div>
  <div class="tabs">tabs
    <p>Account Details</p>
    <p>Notifications</p>
    <p>Your activity
      <br> Posts
      <br> Comments
    </p>
  </div>
  <div class="details">details</div>
</div>
